<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
 <h1 style="color: white" >Oops!</h1>
 <h1 style="color: white" >Looks like we don't have a page named like that. Try going back to the <a href="/">homepage</a></h1>
 	
 </body>



</html>