<!DOCTYPE html>
<html>
 <head>
 	<% include  partials/head.ejs %>
 	<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
 </head>
  <body>
    <div class="container">

    	<div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="input-group">
            <input valutype="text" class="form-control" id="photoSearchQuery" placeholder="Search for images" method="POST">
              <span class="input-group-btn">
                <button class="btn btn-primary" id="searchbutton" type="button" value="Search" method="POST">Search Flickr</button>
              </span> 
          </div>
		  
          <!-- /input-group -->
<!--           <FORM NAME="myform" onSubmit="JavaScript:ExampleJS()">

         First name: <input type="text" id="fname" name="firstname" /><br />
         Last name:  <input type="text" id="lname" name="lastname" /><br />
        <input name="Submit"  type="submit" value="Update" /> -->
 
        </div><!-- /.row -->
      </div><!-- col-md-8 col-md-offset-2 -->
    </div>
    <script src="/javascripts/search.js"></script>
  </body>
</html>
