<!DOCTYPE html>
<html>
 <head>
 	<% include  partials/head.ejs %>
 	<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
 </head>
  <body>
    <div class="container">
		<p>
			<%= query %>
		</p> 
		<p>
			<%= test %>
		</p>
		<p>
			<%= title %>
		</p> 
		<p>
			<%= image %>
		</p> 

    HELLO We're in the photos URL
    </div>
    <script src="/javascripts/search.js"></script>
  </body>
</html>
